.erlang.mk
.eunit
deps
*.o
*.beam
*.plt
doc/*.html
doc/edoc-info
doc/erlang.png
doc/stylesheet.css
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
cover
*.coverdata
tests.output
test/ct.cover.spec
test/ssl/ca*
test/ssl/server*
test/ssl/my-ssl.cnf
test/ssl/my-ssl.cnf-e
mysql.d
