language: erlang
services:
  - mysql
before_script:
  - mysql -uroot -e "grant all privileges on otptest.* to otptest@localhost identified by 'otptest'"
script: 'make tests'
otp_release:
  - 19.0
  - 18.3
  - 17.3
  - 17.0
  - R16B03-1
  - R16B
