{edoc_opts, [
    {doclet, edoc_doclet},
    {stylesheet, "priv/edoc-style.css"},
    {todo, true},
    {overview, "doc/overview.edoc"},
    {subpackages, true}
]}.

{dialyzer, [
    {warnings, [unmatched_returns, error_handling]},
    {plt_location, "."},
    {plt_prefix, "mysql_dialyzer"},
    {plt_apps, all_apps},
    {statistics, true}
]}.

{cover_opts, [verbose]}.
{cover_export_enabled, true}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    warnings_as_errors,
    deprecated_functions
]}.
